* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #262626;
    --custom-color: #fff;
    --custom-background:  rgb(22, 22, 94);
}

body {
    font-family: 'baloo bhaijan 2', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 99999;
    background:var(--background-color);
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 15px;
    gap: 2rem;
    position: fixed;
    color: var(--custom-color);
    right: 0;
}

nav ul a {
    text-decoration: none;
    outline: none;
    color: var(--custom-color);
}

nav ul a:hover {
    background:var(--custom-background);
    padding: 10px;
    border-radius: 10px;
}

.logo {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 700px;
    color: fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.order-btn {
    padding: 1rem 2rem;
    margin: top 30px ;
    cursor: pointer;
    color: var(--custom-color);
    background: var(--custom-background);
    border-radius: 25px;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
     url(grilled-meat-veggies-wooden-plate-generated-by-ai.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 220px 200px;
    color: var(--custom-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0, -5);
    height: 100vh;
}
/* 
#mobile {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    height: 80px;
    line-height: 40px;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    background:var(--background-color);
}

#mobile ul li {
    padding: -25px 5px;
    margin: -35px 0px;
    justify-content: flex-end;
    font-size: 1rem;
    color: var(--custom-color);
}

#mobile ul li a {
    display: flex;
    text-decoration: none;
    color: var(--custom-color);
}

@media screen and (max-width: 768px) {
    #mobile {
        display: block;
    }

    #navbar {
        display: none;
    }

    #home {
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: var(--custom-color);
    }
}


.logo1 {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.8rem;
    color: var(--custom-color);
    margin-right: 500px;
    margin-left: 20px;
    margin-top: 15px ;
}

a:hover {
    background:var(--custom-background);
    padding: 6px 8px 6px 8px;
    border-radius: 16px;
    margin: -7px;
} */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
     url(grilled-meat-veggies-wooden-plate-generated-by-ai.jpg);
    height: 180vh;
    background-position: center;
    background-size: cover;
}

.title {
    text-align: center;
    width: 100%;
    
}

#Menu {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
    background: rgb(245, 242, 242);
    min-height: 100vh;
}

.heading {
     background: rgb(245, 242, 242);
     margin-bottom: 30px;
     color: #373333;
     padding: 60px 0px 30px 0px;
     grid-column: 1/-1;
     text-align: center;
}

.heading h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}

.card-grid {
    display: grid;
    /* position: relative; */
    grid-template-rows:repeat(auto, minmax(360px, 1fr));
    align-items: center;
    gap: 1rem;
}
.card {
    background: #fff;
    color: #777;
    border-radius: .25em;
    overflow: hidden;
    max-width: 100%;
}

.card-shadow {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0.1);
}

.card-header {
    font-size: 1rem;
   padding: 1rem;
   padding-bottom: 0;
   margin-bottom: .5em;
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
}

.card img {
   display: block;
    width: 100%;
    height: 200%;
   object-fit: cover;
   object-position: center;
   aspect-ratio: 16 / 9;
}

.details {
  font-size: 2em;
  padding: 0 1rem;
  align-items: center;
}

.details-sub {
   margin-top: 1rem;
   padding: 1rem;
   padding-top: 0;
}

.details-sub h5 {
    font-weight: 600;
    font-size: 20px;
}

.price-tag {
    text-align: right;
}

.details p {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 25px;
    align-self: stretch;
}

.btn {
    background: #cb202d;
    border: none;
    color: #ffffff;
    padding: .5em .75em;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    width: 180px;
    margin-bottom: 1rem;
}

#About {
    padding: 25px 0px;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px;
}

.about-column {
    flex: 1;
}

.btn-one {
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 15px;
}

.about-column img {
    width: 500px;
    height: 500px;
    border-radius: 50%;object-fit: fill;
    margin: auto;
}
.title {
    color: #373333;
    padding: 50px 0px 30px 0px;
    margin-bottom: 30px;
    text-align: center;
}

#order {
    background: rgb(245, 242, 242);
    color: white;
    min-height: 100vh;
}

form {
    width: 450px;
    background: white;
    box-shadow: 0 0 20px  0 rgb(213, 212, 210);
    margin: auto;
    margin-top: -20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.input-box {
    width: 350px;
    height: 37px;
    margin: 25px 45px 0 45px;
    padding: 0 10px;
    border-radius: 14px;
    border: 1px solid #777;
    outline: none;
}

.text-area {
    height: 160px;
    padding-top: 16px;
}

.btn-two {
    border-radius: 20px;
    margin: 20px 45px;
    padding: 0 10px;
    width: 30%;
}

textarea
 {
    height: 1560px;
    padding-top: 10px;
 }

 .btn-two {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    color: var(--custom-color);
 }

button {
    background: rgb(22, 22,  94);
    color: var(--custom-color);
    cursor: pointer;
    border: none;
}

button:hover {
    background: rgb(94, 158, 61);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    width: 100%;
    background: #262626;
    color: var(--custom-color);
}